<app-nav-bar></app-nav-bar>

<div class="container body-content">
  <div class="row">
    <div class="col-md-12">
      <h3>Products: Candy</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li class="product-item" (click)="productClickHandler({name: 'Twix', description: 'Left or Right?', price: 10.99})">Twix</li>
        <li class="product-item" (click)="productClickHandler({name: 'Snickers', description: 'Peanuts & Caramel', price: 1.99})">Snickers</li>
        <li class="product-item" (click)="productClickHandler({name: 'M&Ms', description: 'Melt in your mouth', price: 0.99})">M&Ms</li>
        <li class="product-item" (click)="productClickHandler({name: 'Gum', description: 'For Chewing & Bubbles', price: 4.99})">Gum</li>
      </ul>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-md-12">
      <h3>Product Details</h3>
    </div>
  </div>

  <div class="product-details">
    <!--Product Name-->
    <div class="row">
      <label class="control-label col-md-2">Name</label>
      <div class="col-md-6">
        <input type="text" class="form-control" readonly [value]="selectedProduct?.name"/>
      </div>
    </div>

    <!--Product Description-->
    <div class="row">
      <label class="control-label col-md-2">Description</label>
      <div class="col-md-6">
        <input type="text" class="form-control" readonly [value]="selectedProduct?.description"/>
      </div>
    </div>

    <!--Procudt Price-->
    <div class="row">
      <label class="control-label col-md-2">Price</label>
      <div class="col-md-6">
        <input type="text" class="form-control" readonly [value]="selectedProduct?.price"/>
      </div>
    </div>
  </div>
</div>
